.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 24px;
    font-weight: bold;
    background-color: #0d5b0d;
    /* opacity: 0; */
}

.nav-title {
    display: flex;
    align-items: center;
    gap: 20px;
    color: white;
}

.logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 2px 2px 2px black;
}

.title {
    font-size: 64px;
    color: white;
    width: 100%;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 12px;
    transition: background-color 0.40s ease;
    transition: box-shadow 0.40s ease;
}

.nav-links a:hover {
    background-color: #82e5a6;
    box-shadow: 1px 1px 3px black;
}
