.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 24px;
    font-weight: bold;
    /* background-color: lightsteelblue; */
    /* opacity: 0; */
}

.nav-title {
    display: flex;
    align-items: center;
    gap: 20px;
    color: white;
}

.logo {
    /* */
}

.title {
    font-size: 100px;
    color: white;
    /* text-shadow: 2px 2px 4px white; */
    width: 100%;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    /* text-shadow: 2px 2px 4px white; */
    padding: 10px;
    border-radius: 24px;
    transition: background-color 0.40s ease;
    transition: box-shadow 0.40s ease;
}

.nav-links a:hover {
    background-color: #abd7e5;
    box-shadow: 1px 1px 3px black;
}